

/* menu::base */
div#menu {
	background: transparent url(pic/menu_m.png) repeat-x scroll 0 0;
	position: absolute;
	left: 0;
	color: #124456;
	font-family: "Trebuchet MS", Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 150%;	
}

ul.menu {
	clear: both;
	float: none;
	cursor: pointer;
	z-index: 1;
	position: relative;
}

div#menu ul {
	margin: 0px;
	padding: 0px;
	list-style: none;
	float: left;
	z-index: 2;
	position: relative;
}

div#menu li {
	position: relative;
	margin: 0px;
	padding: 0px;
	display: block;
	overflow: visible;
	float: left;  
	height: 30px;
	z-index: 3;
}
/* menu::level1 */
div#menu li a {
	height: 30px;
	display: block;
	float: left;
	line-height: 30px;
	text-decoration: none;
	color: #124456;
	overflow: hidden;
	z-index: 4;
  position: relative;
}

div#menu li span {  
	color: #124456; 
	display: block;
	padding: 0 15px;
  background-repeat: no-repeat;
	background-position: 95% 0px;
	z-index: 6;
	position: relative;
}

div#menu li span.bg { 
	display: block;
  background: transparent url('pic/menu_level1_item.png') repeat-x scroll 0pt 100%;
  padding: 0;
	height: 30px;
	z-index: 5;
	position: relative;
  float: left;
}

div#menu li.current {  
	font-weight: bold;
}

div#menu li.current ul {  
	font-weight: normal;
}

/* menu::level2 */
div#menu ul.menu ul {
	padding: 0px 0px 10px;
	background: transparent url('pic/menu_dropdown_bg.png') no-repeat scroll 0pt 100%; 
	_background: transparent url('pic/menu_dropdown_bg.gif') no-repeat scroll 0pt 100%;	
	left: -999em; 
	width: 165px;
	position: absolute;
	top: 30px;
}

div#menu li:hover ul, div#menu li.sfhover ul { 
	left: 0px; 
	z-index: 100;
	visibility: visible; 
}

div#menu li li { 
	width: 100%; 
	text-indent: 0px;
	float: none; 
	height: auto;
}

div#menu li li a, div#menu li li span.separator { 
	margin: 0px 1px;
	padding: 0px; 
	background: url('pic/menu_level2_item.gif') no-repeat scroll 100% bottom;
	height: auto; 
	float: none; 
	display: block; 
	line-height: 25px; 
	width: 163px;
}

div#menu li li a.parent { 
	background: url('pic/menu_level2_item_parent.gif') no-repeat scroll 100% bottom;
}

/* menu::level3 */
div#menu li ul ul { 
	margin: -31px 0 0 164px;
}

div#menu li:hover ul ul, div#menu li.sfhover ul ul { 
	border-top: 1px solid #49c5ed; 
}

div#menu li:hover ul ul, div#menu li.sfhover ul ul, div#menu li:hover ul ul ul, div#menu li.sfhover ul ul ul, div#menu li:hover ul ul ul ul, div#menu li.sfhover ul ul ul ul { 
	left: -999em; 
}
div#menu li li:hover ul, div#menu li li.sfhover ul, div#menu li li li:hover ul, div#menu li li li.sfhover ul, div#menu li li li li:hover ul, div#menu li li li li.sfhover ul { left: 0pt; z-index: 100; }

div#menu a:hover {
	color: #FFFFAA;
}
div#menu span:hover {
	color: #FFFFAA;
}
div#menu li ul span:hover {
	color: #FFFFAA000;
}
 
#mapa{
            position:absolute;
            top:4%;
            width: 547px;
            height: 800px;
            float:left;
            background: aquamarine;
            border-radius: 20px;
    box-shadow: 1px 2px 3px #000000 ;
        }
        #infor{
            width: 400px;
            height: 400px;
            float:left;
        }
        #cuadro7
{
        
position: absolute;

     top:220px;
     left:780px;
   float: left;
   
}
#PanelImagen
{
 
    float: left;

   
}
#filtro
{
    position: absolute;
    top:12%; 
    height: 35%;
     border-radius: 20px;
    
}
#filtro1
{
    height: 33%;
    
}
#filtro2
{
    height: 33%;
    
}
#filtro3
{
    height: 33%;
    
}
 
#cuadro3
{
    width: 1200px;
    height:50px; 
    position: absolute;
    left:1px;
    top:8px;
    float: left;
    background-color:rgb(8,127,135) ;
    
}
#bus
{
    position: absolute;
    left:3px;
    
    float: left;
  
}
.Boton1{
        font-size:16px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:rgb(255,90,95);
        border:0px;
        position:absolute;
		left:250px;
		top:8px;
        width:130px;
        height:30px;
       
       }
       
       .Boton2{
        font-size:16px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:rgb(255,90,95);
        border:0px;
        position:absolute;
		left:250px;
		top:8px;
        width:130px;
        height:30px;
        z-index: 10;
       }
#cuadro4
{
     position: absolute;
     width:750px;
     height: 800px;
     
  	background-color:rgb(237,239,237);
    left:5px;
    top:220px;
    float: left;
    
    
}
div.scroll_vertical {
	height: 800px; 
	width: 750px;
	overflow: auto;
	border: 1px solid #666;
	background-color: #FDFAF9;
	padding: 8px;
}
#CiudadesBus
{
         position: absolute;
     width:1200px;
     height: 600px;
     
  	background-color:rgb(237,239,237);
    left:5px;
    top:10px;
    float: left;
    
}
#filtro
{
     position: absolute;
     width:1350px;
     height:90px;
     background-color:rgb(8,126,139);
    left:5px;
    top:120px;
    float: left;
    
    
}

.cajas{
	background:#FFF; 
	border:1px solid #00BFFF;
	height: 30px;
	margin-left:20px;
	margin-right:20px;
	border-radius:5px;
}
.caja:focus{
	background:#FFF; 
	border:1px solid #00BFFF;
	height: 20px;
        width:130px; 
	margin-left:20px;
	margin-right:20px;
	border-radius:5px;
        box-shadow: 0 0 5px 3px #00BFFF;
    height: 30px;
}
input[type="range"]{
    width: 400px;
}
textarea:focus {
  
    box-shadow: 0 0 5px 3px #00BFFF;
    height: 100px;
}
.button {
   border-top: 1px solid #96d1f8;
   background: #65a9d7;
   background: -webkit-gradient(linear, left top, left bottom, from(#3e779d), to(#65a9d7));
   background: -webkit-linear-gradient(top, #3e779d, #65a9d7);
   background: -moz-linear-gradient(top, #3e779d, #65a9d7);
   background: -ms-linear-gradient(top, #3e779d, #65a9d7);
   background: -o-linear-gradient(top, #3e779d, #65a9d7);
   padding: 5px 10px;
   -webkit-border-radius: 8px;
   -moz-border-radius: 8px;
   border-radius: 8px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 14px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
   }
   
   #body
   {
      background-color: lightgrey;
   }
   #Type1
   {
       width:800px;
       height:50px; 
       
       position: absolute;
       left:580px;
       top:30px;
       float: left;
      
   }
   
    #Type2
   {
       width:1200px;
       height:50px; 
       
       position: absolute;
       left:300px;
       top:30px;
       float: left;
      
   }
