#block{
    width:100%;
    height:100%;
    display: none;
    position: absolute;
    z-index: 1;
    background-color: black;
    opacity:0.4;
    filter:alpha(opacity=40); /* For IE8 and earlier */
    top:0;
    left:0;
}
#popupbox h2{
    margin:0px;
}
#popupbox{
    display: none;
    padding: 5px;
    padding-top: 0px;
    background-color: white;
    border: 5px solid #C3D9FF;
    border-radius: 5px 5px 5px 5px;
    margin: 20px auto 0 308px;
    position: absolute;
    width: 330px;
    box-shadow:1px 1px 5px black;
    z-index: 2;
}
.buttonsBar{
    text-align: right;
    margin-top: 3px;
}
#popupbox label{
    display: block;
    float: left;
    margin-right: 9px;
    margin-top: 7px;
    text-align: right;
    width: 102px;
}
a.button {
    background-color: #92cae4;
    border:1px solid #205791;
    color:white;
    padding:5px;
    text-decoration: none;
    font-weight: bold;
    box-shadow:1px 1px 5px black;
    tex-shadow:1px 1px black;
}
table{
    box-shadow:1px 1px 5px black;
     /* hack IE8 */
/*    border-spacing: 0 \0/;
    border-collapse: collapse \0/;
    border-right: 2px inset #D3D3D3 \0/;
    border-bottom: 2px inset #D3D3D3 \0/;*/
     /* hack IE7 */
    *border-spacing: 0;
    *border-collapse: collapse;
    *border-right: 2px inset #D3D3D3;
    *border-bottom: 2px inset #D3D3D3;
}
.bar{
    margin-top:20px;
    margin-bottom: 20px;
}
.title{
    background-color: #ADC9E3;
    border: 2px solid blanchedAlmond;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 5px black;
    color: white;
    font-family: Lucida Grande;
    font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    padding: 5px;
    text-shadow: 1px 1px gray;
}
.Boton1{
        font-size:16px;
        font-family:Verdana,Helvetica;
        font-weight:bold;
        color:white;
        background:rgb(255,90,95);
        border:0px;
   
        width:130px;
        height:30px;
       
       }
       
       .col
       {
           
           background-color:  #DDECF7;
       }
       .cajas{
	background:#FFF; 
	border:1px solid #00BFFF;
	height: 30px;
	margin-left:20px;
	margin-right:20px;
	border-radius:5px;
}
.caja:focus{
	background:#FFF; 
	border:1px solid #00BFFF;
	height: 20px;
        width:130px; 
	margin-left:20px;
	margin-right:20px;
	border-radius:5px;
        box-shadow: 0 0 5px 3px #00BFFF;
    height: 30px;
}
.estArea
{
    
    width: 300px;
    height: 150px;
    border: 2px solid #D3D3D3;
    
}
.estArea1
{
    
    width: 300px;
    height: 50px;
    border: 2px solid #D3D3D3;
    
}
.button1 {
text-decoration:none; 
 text-align:center; 
 padding:11px 32px; 
 border:double 3px #006572; 
 -webkit-border-radius:21px;
 -moz-border-radius:21px; 
 border-radius: 21px; 
 font:11px "Arial Black", Gadget, sans-serif; 
 font-weight:bold; 
 color:#e5ffed; 
 background-color:#78c73b; 
 background-image: -moz-linear-gradient(top, #78c73b 0%, #19a519 100%); 
 background-image: -webkit-linear-gradient(top, #78c73b 0%, #19a519 100%); 
 background-image: -o-linear-gradient(top, #78c73b 0%, #19a519 100%); 
 background-image: -ms-linear-gradient(top, #78c73b 0% ,#19a519 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#19a519', endColorstr='#19a519',GradientType=0 ); 
 background-image: linear-gradient(top, #78c73b 0% ,#19a519 100%);   
 -webkit-box-shadow:0px -5px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px -5px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px -5px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 text-shadow: 0px 1px 11px #bababa; 
 filter: dropshadow(color=#bababa, offx=0, offy=1);
   }
   
   .button2{
 text-decoration:none; 
 text-align:center; 
 padding:11px 32px; 
 border:double 3px #006572; 
 -webkit-border-radius:21px;
 -moz-border-radius:21px; 
 border-radius: 21px; 
 font:11px "Arial Black", Gadget, sans-serif; 
 font-weight:bold; 
 color:#e5ffed; 
 background-color:#c74c3b; 
 background-image: -moz-linear-gradient(top, #c74c3b 0%, #f51f03 100%); 
 background-image: -webkit-linear-gradient(top, #c74c3b 0%, #f51f03 100%); 
 background-image: -o-linear-gradient(top, #c74c3b 0%, #f51f03 100%); 
 background-image: -ms-linear-gradient(top, #c74c3b 0% ,#f51f03 100%); 
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f51f03', endColorstr='#f51f03',GradientType=0 ); 
 background-image: linear-gradient(top, #c74c3b 0% ,#f51f03 100%);   
 -webkit-box-shadow:0px -5px 2px #bababa, inset 0px 0px 1px #ffffff; 
 -moz-box-shadow: 0px -5px 2px #bababa,  inset 0px 0px 1px #ffffff;  
 box-shadow:0px -5px 2px #bababa, inset 0px 0px 1px #ffffff;  
  
 text-shadow: 0px 1px 11px #bababa; 
 filter: dropshadow(color=#bababa, offx=0, offy=1);
  
  }